*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/sunrise-phu-quoc-island-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.weatherForm {
    margin: 20px;
}

.weatherCard {
    display: none; /* Initially hidden */
    background: linear-gradient(150deg, hsl(210, 100%, 65%), hsl(138, 82%, 60%));
    padding: 60px;
    min-width: 200px;
    margin: 30px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    border: solid 2px black;
}

.cityInput {
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
    font-size: 15px;
}

button {
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    width: 200px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 8%, 79%);
}

button:active {
    background-color: hsl(0, 8%, 55%);
}

.title {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    margin: 20px;
}

.cityChoice {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: bold;
}

.weatherDesc {
    font-weight: bold;
    font-size: 20px;
}

.tempDisplay {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.humidityDisplay {
    font-weight: bold;
    font-size: 20px;
}

.errorDisplay {
    display: none; /* Hidden initially */
    color: red;
    font-weight: bold;
    font-size: 20px;
}